.container {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
   
    h2 {
      text-align: center;
      color: #3f51b5;
      margin-bottom: 30px;
    }
   
    .notification-label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
   
    .checkbox-group {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
   
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
      }
    }
   
    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }
   
    .error-message {
      margin-bottom: 20px;
    }
   
    button {
      align-self: center;
      padding: 10px 20px;
      font-size: 16px;
    }
   
    /* Responsive Design */
    @media (max-width: 768px) {
      width: 90%;
      margin-top: 20px;
   
      h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
      }
   
      button {
        width: 100%;
        padding: 12px 0;
      }
    }
  }